.context-sidebar {
  .sidebar-close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 0.5rem;
    margin-right: 4px;
    margin-top: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    flex-shrink: 0;
  }

  .sidebar-close-button:hover {
    opacity: 1;
  }
}
