[theme="gloom"] {
	color-scheme: dark;
	--studio-fill: #1a1b1e;
	--studio-line: #e0e1e4;
	--studio-primary: #35f7ca;
	--studio-secondary: #33ccf8;
	--studio-danger: #ff6a90;
	--studio-warning: #f8c43b;
	--studio-added: #35f7ca;
	--studio-deleted: #ff6a90;
	--studio-modified: #f8c43b;
	--studio-link: #76a9ff;
	--studio-selection-fill: #26465388;

	--editor-cursor-fill: var(--studio-primary);

	--text-editor-line: #e0e1e4;
	--text-editor-active-line-fill: color-mix(
		in oklch,
		var(--text-editor-fill-offset-10),
		transparent 80%
	);
	--text-editor-active-line-fill--gutter: var(--text-editor-fill-offset-20);

	--text-editor-gutter-fill: var(--text-editor-fill-offset-30);
	--text-editor-gutter-line: var(--text-editor-line);
	--text-editor-gutter-border: var(--text-editor-fill-offset-40);
	--text-editor-gutter-fill--line-numbers: var(--text-editor-fill-offset-50);
	--text-editor-gutter-line--line-numbers: var(--text-editor-line);

	--text-editor-tooltip-fill: var(--text-editor-fill-offset-20);
	--text-editor-tooltip-color: var(--text-editor-line);

	--syntax-comment: #6272a4;
	--syntax-style-comment: italic;

	--syntax-doc-comment: #6272a4;

	--syntax-meta: #ffb86c;
	--syntax-invalid: #ff5555;

	--syntax-operator: #ff79c6;
	--syntax-punctuation: #f8f8f2;

	--syntax-bool: #bd93f9;
	--syntax-weight-bool: bold;

	--syntax-atom: #bd93f9;
	--syntax-weight-atom: bold;

	--syntax-keyword: #ff79c6;

	--syntax-type-name: #8be9fd;
	--syntax-weight-type-name: bold;

	--syntax-class-name: #8be9fd;
	--syntax-weight-class-name: bold;

	--syntax-type-operator: #ffb86c;

	--syntax-function--variable-name: #50fa7b;
	--syntax-function--property-name: #50fa7b;

	--syntax-variable-name: #f8f8f2;
	--syntax-definition--variable-name: #f8f8f2;

	--syntax-string: #f1fa8c;
	--syntax-fill-string: transparent;

	--syntax-number: #bd93f9;
	--syntax-integer: #bd93f9;
	--syntax-float: #bd93f9;

	--syntax-escape: #ff79c6;
	--syntax-regexp: #ffb86c;
	--syntax-special--string: #f1fa8c;

	--syntax-tag-name: #ff79c6;
	--syntax-angle-bracket: #f8f8f2;

	--syntax-attribute-name: #8be9fd;
	--syntax-style-attribute-name: italic;

	--syntax-namespace: #ffb86c;

	--syntax-strong: #f8f8f2;
	--syntax-weight-strong: bold;

	--syntax-heading: #bd93f9;
	--syntax-weight-heading: bold;

	--syntax-link: #8be9fd;
	--syntax-style-link: underline;

	--syntax-quote: #6272a4;
	--syntax-list: #f8f8f2;

	--syntax-inserted: #50fa7b;
	--syntax-deleted: #ff5555;
	--syntax-changed: #f1fa8c;

	--syntax-content-separator: #44475a;
}
