[theme="lychee"] {
	color-scheme: light;
	--studio-fill: yellow;
	--studio-line: hotpink;
	--studio-primary: cyan;
	--studio-secondary: cyan; /* bermuda cocktail #2 */
	--studio-danger: deeppink;
	--studio-warning: yellow;
	--studio-added: lime;
	--studio-deleted: deeppink;
	--studio-modified: cyan;
	--studio-link: cyan;
	--studio-selection-fill: yellow;
	--studio-offset-tint-amount: 8%;
	--studio-chrome-fill: cyan;

	--text-editor-fill: yellow;
	--text-editor-line: hotpink;
	--text-editor-cursor-fill: deeppink;
	--text-editor-selection-fill: yellow;
	--text-editor-selection-line: hotpink;

	--text-editor-active-line-fill: yellow;
	--text-editor-active-line-line: var(--text-editor-line);
	--text-editor-active-line-fill--gutter: lime;
	--text-editor-active-line-line--gutter: hotpink;
	--text-editor-gutter-fill: yellow;
	--text-editor-gutter-line: hotpink;
	--text-editor-gutter-border: none;
	--text-editor-gutter-font-size: 0.8em;
	--text-editor-gutter-font-size--line-numbers: 0.8em;
	--text-editor-tooltip-fill: yellow;
	--text-editor-tooltip-color: hotpink;

	--syntax-comment: hotpink;
	--syntax-style-comment: italic;
	--syntax-line-comment: hotpink;
	--syntax-style-line-comment: italic;
	--syntax-block-comment: hotpink;
	--syntax-style-block-comment: italic;

	--syntax-doc-comment: hotpink;
	--syntax-style-doc-comment: italic;

	--syntax-meta: cyan;
	--syntax-invalid: deeppink;

	--syntax-operator: hotpink;
	--syntax-punctuation: hotpink;

	--syntax-bool: hotpink;
	--syntax-weight-bool: bold;

	--syntax-atom: deeppink;
	--syntax-weight-atom: bold;

	--syntax-keyword: deeppink;
	--syntax-control-keyword: deeppink;
	--syntax-module-keyword: deeppink;

	--syntax-type-name: cyan;
	--syntax-weight-type-name: bold;

	--syntax-class-name: cyan;
	--syntax-weight-class-name: bold;

	--syntax-type-operator: cyan;

	--syntax-function--variable-name: deeppink;
	--syntax-function--property-name: deeppink;

	--syntax-variable-name: hotpink;
	--syntax-definition--variable-name: hotpink;

	--syntax-string: lime;
	--syntax-fill-string: lime;

	--syntax-number: cyan;
	--syntax-integer: cyan;
	--syntax-float: cyan;

	--syntax-escape: hotpink;
	--syntax-regexp: cyan;
	--syntax-special--string: lime;

	--syntax-tag-name: cyan;
	--syntax-angle-bracket: hotpink;

	--syntax-attribute-name: deeppink;
	--syntax-style-attribute-name: italic;

	--syntax-namespace: cyan;

	--syntax-strong: hotpink;
	--syntax-weight-strong: bold;

	--syntax-emphasis: hotpink;
	--syntax-style-emphasis: italic;

	--syntax-heading: cyan;
	--syntax-weight-heading: bold;

	--syntax-link: cyan;
	--syntax-style-link: underline;

	--syntax-quote: hotpink;
	--syntax-list: hotpink;

	--syntax-inserted: lime;
	--syntax-deleted: deeppink;
	--syntax-changed: cyan;

	--syntax-content-separator: hotpink;
}
