@font-face {
  font-display: fallback;
  font-family: Jost;
  font-style: normal;
  font-weight: 100 900;
  src: url(./jost-vf.ttf) format("truetype");
}

@font-face {
  font-display: fallback;
  font-family: Jost;
  font-style: italic;
  font-weight: 100 900;
  src: url(./jost-vf.ttf) format("truetype");
}

:root {
  --sideboard-fill: oklch(0.86 0.16 87.44 / 1);
  --sideboard-fill-offset: color-mix(
    in oklab,
    var(--sideboard-fill),
    oklch(1 0 0 / 1) 10%
  );

  --sideboard-line: black;
  --sideboard-widget-fill: white;
  --sideboard-widget-line: var(--sideboard-line);

  --sideboard-padding-x: 0.5rem;

  --sideboard-radius: 0.275rem;
  --placeholder-line: #808e80;
  --sideboard-search-line: #000;

  --sideboard-fill: oklch(from #99eeff l c h);
  --sideboard-primary: oklch(from #d9f4ff l c h);

  --sideboard-create-new-fill: white;
  --sideboard-create-new-line: color-mix(
    in oklch,
    var(--sideboard-primary),
    black 30%
  );
  --sideboard-create-new-border-line: color-mix(
    in oklch,
    var(--sideboard-primary),
    var(--sideboard-create-new-fill) 50%
  );
  --sideboard-create-new-shadow-color: color-mix(
    in oklch,
    var(--sideboard-fill),
    var(--sideboard-line) 10%
  );
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --sideboard-fill: black;
    --sideboard-line: white;
    --sideboard-widget-fill: var(--sideboard-fill-offset);
    --sideboard-create-new-fill: #333;
    --sideboard-create-new-line: #ccc;
    --sideboard-create-new-shadow-color: #111;
    --sideboard-create-new-border-line: #555;
    --sideboard-primary: #0099cc;
  }
}

.sideboard {
  background: var(--sideboard-fill);
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 0.75rem;
  font-family: Jost, system-ui, sans-serif;
  padding-inline: var(--sideboard-padding-x);
}

.sideboard-header {
  container-type: inline-size;
  height: 4rem;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  .create-new-button {
    display: flex;
    padding-inline: 0.75rem;
    padding-block: 0.25rem;
    border: 2px solid var(--sideboard-create-new-border-line);
    border-radius: var(--sideboard-radius);
    background: var(--sideboard-create-new-fill);
    color: var(--sideboard-line);
    font-weight: 400;
    width: 100%;
    align-items: center;
    justify-content: start;
    white-space: nowrap;
    font-size: 0.9rem;
    text-align: left;
    gap: 1ex;
    position: relative;
  }
}

.icon {
  height: 1em;
}

.sideboard__filter-container {
  position: relative;
  font-size: 0.875rem;
  border-radius: var(--sideboard-radius);
  .search-icon {
    height: 1em;
    top: 0.4lh;
    left: 2px;
    position: absolute;
    z-index: 1;
    stroke: var(--placeholder-line);
  }
  &:focus-within {
    .search-icon {
      stroke: #000;
    }
  }
}

.sideboard__filter {
  width: 100%;

  background: var(--sideboard-widget-fill);
  color: var(--sideboard-widget-line);

  padding-left: 2em;
  padding-right: 0.75rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 20, 50, 0.05);
  border-radius: var(--sideboard-radius);

  &::placeholder {
    color: var(--placeholder-line);
  }

  &:focus-visible {
    outline-color: #000;
    outline-offset: 1px;
    box-shadow: 0 0 0 4px #fff;
    border-radius: var(--sideboard-radius);
  }
}

.sideboard__doclist {
  --doclist-padding-x: 0.75rem;
  display: flex;
  flex-direction: column;
  border-radius: var(--sideboard-radius);
  box-shadow: 0 1px 2px rgba(0, 20, 50, 0.05);
  width: 100%;
  max-height: 100%;
  overflow: scroll;
}

.sideboard__folder {
  display: flex;
  flex-direction: column;

  padding-left: calc(0.5rem * attr(data-depth));
}

.sideboard-folder-item {
  display: flex;
  gap: 0.5ch;
  padding-inline: var(--doclist-padding-x);
  padding-block: 0.5rem;
  font-weight: 400;
  color: var(--sidebar-widget-line);
  cursor: default;

  .create-new-button {
    margin-left: auto;
  }

  .create-new-button__text {
    display: none;
  }

  &:focus-visible {
    outline-color: #000;
    outline-offset: 1px;
    box-shadow: 0 0 0 4px #fff;
    border-radius: var(--sideboard-radius);
  }

  &:active {
    outline: 0;
    box-shadow: 0;
  }

  &[aria-pressed="true"] {
    background: var(--sideboard-primary);
    .sideboard__doclist > &:first-child {
      border-top-left-radius: var(--sideboard-radius);
      border-top-right-radius: var(--sideboard-radius);
    }
    .sideboard__doclist > &:last-child {
      border-bottom-left-radius: var(--sideboard-radius);
      border-bottom-right-radius: var(--sideboard-radius);
    }
  }
}

.sideboard-folder-item__name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  max-width: 100%;
}

.sideboard-folder__toggle {
  margin-left: -0.5ch;
  padding-inline: 0.5ch;
  &:hover {
    background: #55555533;
  }
}

.sideboard-folder__contents--hidden {
  display: none;
}

.sideboard__item--invisible {
  display: none;
}

.sideboard__item--visible,
.sideboard__item--invisible:has(.sideboard__item--visible) {
  display: block;
}

.sideboard-folder__contents .sideboard-folder-item {
  padding-left: calc(2.2rem * var(--depth));
}

.sideboard-footer {
  container-type: inline-size;
  height: 4rem;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: var(--sideboard-padding-x);
  padding-bottom: calc(0.25rem + env(safe-area-inset-bottom));
  background: var(--sideboard-footer-fill);
  color: var(--sideboard-line);
  border-top: 1px solid
    color-mix(
      in oklab,
      color-mix(in oklab, var(--sideboard-fill), oklch(1 0 0 / 1) 10%),
      oklch(0 0 0 / 1) 4%
    );
  margin-top: auto;
  box-shadow: 0 -1px 1px
    color-mix(
      in oklab,
      color-mix(in oklab, var(--sideboard-fill), oklch(1 0 0 / 1) 10%),
      oklch(0 0 0 / 1) 4%
    );
  > button {
    border: 1px solid transparent;
    padding-inline: 0.25rem;
    padding-block: 0.125rem;
    border-radius: 3px;
    white-space: nowrap;
    &:hover {
      border: 1px solid
        color-mix(
          in oklab,
          color-mix(in oklab, var(--sideboard-fill), oklch(1 0 0 / 1) 10%),
          oklch(0 0 0 / 1) 4%
        );
    }
  }
}

.sideboard-widget {
  margin-top: 0.5rem;
  width: 100%;
  background: var(--sideboard-widget-fill);
  color: var(--sideboard-widget-line);
}

.module-settings__tools {
  display: flex;
  flex-wrap: wrap;
}

@keyframes hello {
  0% {
    border-radius: 4px;
  }
  50% {
    border-radius: 37px;
  }
  100% {
    border-radius: 4px;
  }
}

.popmenu__trigger,
.popmenu__sub-trigger {
  cursor: default;
  user-select: none;
  width: 100%;
  text-align: left;
}

.popmenu__sub-content,
.popmenu__content {
  z-index: 2;
  min-width: 220px;
  padding: 4px;
  background-color: var(--sideboard-widget-fill);
  font-size: 0.8rem;
  border-radius: 6px;
  border: 1px solid hsl(240 6% 90%);
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  outline: none;
  transform-origin: var(--kb-menu-content-transform-origin);
  animation: contentHide 250ms ease-in forwards;
}
.popmenu__content[data-expanded],
.popmenu__sub-content[data-expanded] {
  animation: contentShow 250ms ease-out;
}
.popmenu__item,
.popmenu__checkbox-item,
.popmenu__radio-item,
.popmenu__sub-trigger {
  font-size: 0.8rem;
  line-height: 1;
  color: var(--sideboard-widget-line);
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 32px;
  padding-inline: 12px;
  padding-block: 6px;
  position: relative;
  user-select: none;
  outline: none;
}
.popmenu__sub-trigger[data-expanded] {
  background-color: var(--sideboard-fill-offset);
  color: var(--sideboard-line);
}
.popmenu__item[data-disabled],
.popmenu__checkbox-item[data-disabled],
.popmenu__radio-item[data-disabled],
.popmenu__sub-trigger[data-disabled] {
  color: hsl(240 5% 65%);
  opacity: 0.5;
  pointer-events: none;
}
.popmenu__item[data-highlighted],
.popmenu__checkbox-item[data-highlighted],
.popmenu__radio-item[data-highlighted],
.popmenu__sub-trigger[data-highlighted] {
  outline: none;
  background-color: color-mix(
    in oklch,
    var(--sideboard-primary),
    var(--sideboard-widget-fill) 20%
  );
  color: var(--sideboard-widget-line);
}
@keyframes contentShow {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes contentHide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.96);
  }
}

/* todo move */
.module-settings__tool {
  margin-top: 2em;
  margin-left: 2em;
  border: 6px dotted #33ffcc;
  border-radius: 37px;
  padding: 1em;
  background: lemonchiffon;
  animation: hello alternate-reverse infinite 2s;
  color: black;
}
