.tenfold {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #fff;
  background: black;
  overflow: hidden;
  height: 100%;
  width: 100%;

  * {
    box-sizing: border-box;
  }

  canvas {
    display: block;
    /* outline: 4px solid white; */
  }

  aside {
    flex: 1 1 0;
    padding: 32px;
    padding-left: 0;
    height: 100%;
    > div {
      height: 100%;
      width: 80ex;
      font-size: 18px;
    }
  }

  .cm-editor {
    height: 100%;
    overflow: auto;
  }

  .cm-editor *,
  .cm-editor * * {
    caret-color: cyan !important;
  }

  .cm-lintRange-error {
    background: none !important;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: none;
    text-decoration-color: #f00;
  }

  .cm-matchingBracket {
    background-color: #ffffff66 !important;
  }
}

.cm-editor {
  height: 100%;
}
