@font-face {
  font-family: FifteenTwenty;
  src: url("FifteenTwenty.woff2");
}

* {
  box-sizing: border-box;
  scrollbar-color: #fff #000;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  background: #000;
}

::-webkit-scrollbar-thumb {
  border: 1.5px solid #fff;
  border-radius: 1px;
  background: transparent;
}

.tenfold {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font: clamp(12px, 1.2vw, 22px) FifteenTwenty;
  color: #fff;
  background: #000;
  color-scheme: dark;
  overflow: hidden;

  canvas {
    display: block;
  }

  aside {
    flex: 1 1 0;
    min-width: 0; /* needed for text wrap for some reason */
    position: relative;
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  #spark {
    display: none; /* turned off for now, while we do friends-of-the-lab */
    flex: 0 0 50px;
    width: 100%;
    height: 50px;
  }

  #message-field {
    position: absolute;
    display: none; /* turned off for now, while we do friends-of-the-lab */
    inset: 0;
    width: 100%;
    height: 1em;
    color: #f00;
    pointer-events: none;
  }

  #synth-editor {
    display: none; /* turned off for now, while we do friends-of-the-lab */
    flex: 1 1 50%;
    height: 50%;
  }

  .tenfold-docs {
    font-size: 1.2em;
    flex: 1 1 0;
    /* min-width: 0; */
    /* min-height: 0; */
    overflow: hidden auto;

    h1 {
      margin-block: 0 1rem;
      font-size: 2em;
    }

    h2 {
      margin-block: 3rem 1rem;
      font-size: 1.5em;
    }

    h3 {
      margin-block: 2rem 1rem;
      font-size: 1.3em;
    }

    h4 {
      margin-block: 2rem 0;
      font-size: 1.2em;
    }

    p {
      margin-block: 0 1rem;
      line-height: 1.3;
    }

    a {
      color: inherit;
    }

    code {
      font-family: inherit;
      background: white;
      color: black;
      border-radius: 1px;
    }

    pre {
      width: max-content;
      max-width: 100%;
      padding: 1rem;
      border: calc(0.01 * var(--cell, 100px)) solid #fff;
      border-radius: 1px;
      font-family: inherit;
      white-space: pre-wrap;
      overflow-wrap: break-word;
    }

    & > :first-child {
      padding-top: calc(0.15 * var(--cell, 2vmin));
    }

    & > :last-child {
      padding-bottom: calc(0.15 * var(--cell, 2vmin));
    }
  }

  .tenfold-button-row {
    display: flex;
    gap: 2px;
    margin-block: 2px;

    & > :last-child {
      margin-left: auto;
    }
  }

  .tenfold-toast {
    position: fixed;
    inset: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 3em 3em;
    border-radius: 1px;
    background: #fff;
    color: #000;
    z-index: 9999;
    pointer-events: none;
    animation:
      toast-crt 100ms ease-out reverse,
      toast-crt 200ms ease-out 1.7s forwards;
  }

  .cm-editor {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    overflow: auto;

    &.cm-focused {
      outline: none;
    }
  }

  .cm-scroller {
    scrollbar-gutter: stable;
  }

  .cm-editor .cm-content {
    caret-color: #fff !important;
  }

  .cm-lintRange-error {
    background: none !important;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1.5px;
    text-decoration-skip-ink: none;
    text-decoration-color: #f00;
  }
}

@keyframes toast-crt {
  0% {
    transform: scaleY(1);
    opacity: 1;
  }
  30% {
    transform: scaleY(0.05);
    opacity: 1;
  }
  50% {
    transform: scaleY(0.05);
    opacity: 0;
  }
  65% {
    transform: scaleY(0.05);
    opacity: 1;
  }
  80% {
    transform: scaleY(0.05);
    opacity: 0;
  }
  90% {
    transform: scaleY(0.05);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}

@keyframes delete-fill {
  0% {
    background-size: 0% 100%;
  }
  85% {
    background-size: 100% 100%;
    opacity: 1;
    color: inherit;
  }
  90% {
    background-size: 100% 100%;
    opacity: 0;
    color: #000;
  }
  95% {
    background-size: 100% 100%;
    opacity: 1;
    color: #000;
  }
  100% {
    background-size: 100% 100%;
    opacity: 0;
    color: #000;
  }
}

.tenfriend-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  height: 100%;
  margin-inline: auto;
  gap: 1em;
  font: 18px FifteenTwenty;
  color: #fff;
  background: #000;

  .tenfriend-row {
    display: flex;
    gap: 2px;
  }

  .tenfriend-input {
    width: 100%;
    padding: 0.7em 0.7em 0.5em;
    border: calc(0.01 * var(--cell, 100px)) solid #fff;
    border-radius: 1px;
    outline: none;
    font: inherit;
    font-size: 24px;
    line-height: 1em;
    color: inherit;
    background: inherit;

    &:focus {
      outline: calc(0.01 * var(--cell, 100px)) solid #fff;
      outline-offset: calc(-0.02 * var(--cell, 100px));
    }
  }
}

.tenfriend-button {
  padding: 0.7em 1.2em 0.5em;
  border: calc(0.01 * var(--cell, 100px)) solid #fff;
  border-radius: 1px;
  font: inherit;
  color: #fff;
  background: #000;
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  cursor: pointer;

  &.holding {
    animation: delete-fill 1.3s linear forwards;
  }

  &:focus {
    outline: calc(0.01 * var(--cell, 100px)) solid #fff;
    outline-offset: calc(-0.02 * var(--cell, 100px));
  }
}
